<!DOCTYPE html>
<html>
  <head>
  	<title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all',
  											 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<%= render partial: 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108725762-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108725762-1');
    </script>

    <script>
      (function(h,e,a,t,m,p) {
        m=e.createElement(a);m.async=!0;m.src=t;
        p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
      })(window,document,'script','https://u.heatmap.it/log.js');
    </script>
  </head>
  <body>
    <%= render partial: 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, class: "alert alert-#{message_type} alert-dismissable") do%>
         <%= message %>
         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <% end %>
      <% end %>
    	<%= yield %>
      <%= render partial:'layouts/footer'%>
      <div dir="ltr">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>
